@mixin flex($justify: center) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin grid($column, $rows) {
    display: grid;
    align-items: center;
    grid-template-columns: $column;
    grid-template-rows: $rows;
}

@mixin respondTo($breakpoint) {
    @if ($breakpoint == mobile) {
        @media (min-width: 768px) {
            @content;
        }
    }
    @if ($breakpoint == tablette) {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @if ($breakpoint == desktop) {
        @media (min-width: 1200px) {
            @content;
        }
    }
}