// --Default behaviour-- //
$border : border solid black 1px;

// --Fonts-- //
// $font-one: "Roboto", sans-serif;
// $font-two: "Audiowide", cursive;

// --Colors-- //
$color-primary : #304052;
$color-secondary : black;
$color-third: white; 