body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: white;

    .form {
        border: 2px solid rgb(36, 26, 98);
        border-radius: 5px;
        margin: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before{
            content: "Connexion Administrateur";
            font-size: larger;
            margin-bottom: 25px;
            border-bottom: 1px solid;
            color: #000000;

        }

        div {
            margin-bottom: 5px;

            .input-label {
                margin: 5px;
            }

            .input {
                margin: 5px;
                border: 1px solid;
                border-radius: 5px;
                padding: 5px;
            }

            button {
                margin: 5px;
                padding: 3px;
                border-radius: 5px;
                background-color: transparent;
                border: 1px solid;
            }
        }
    }
}