#admin_page_body {

    background-color: red;
// font-family: 'Courier New', Courier, monospace;

#admin_page_main {

    // .admin_page_section {

    // }

    #disheCreation_section {

        #disheCreation_div {

            h2{
                font-size: 8rem;
            }

            #disheCreation_btn {
                border: solid #333 2px;
                border-radius: 0.5rem;
                color: #F5BB65;
                background-color: #304052;
            }

        }
    }
}
}