.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: transparent !important;

    h1 {
        width: max-content;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 1.5em !important;
        font-weight: 100;
        border-bottom: 1px solid;
        color: #000000;
        margin-bottom: 40px;
    }

    .background_admin {
        position: absolute;
        width: 100vw;
        height: 99vh;
        filter: opacity(0.8);
        object-fit: cover;
        object-position: center;
        background-color: white;
    }

    .form {
        background-color: rgba(255, 228, 196, 0.654);
        border: 2px solid rgb(36, 26, 98);
        box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.7);
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-content: center;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 49%;
        transform: translate(-50%, -50%);

        hr {
            margin: 10px;
            background-color: black;
        }

        .login-div {
            margin: 0 10px;
        }
        .password-div{
            margin: 0 10px;
        }

        .checkbox-submit{
            margin: 0 10px;
        }

        div {
            width: 350px;
            height: 40px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;



            .label-input {

                margin: 5px;
            }

            .input {
                position: absolute;
                right: 15px;
                width: 200px;
                margin: 5px;
                border: 1px solid;
                border-radius: 5px;
                padding: 5px;
            }

            button {
                position: absolute;
                right: 15px;
                margin: 5px;
                padding: 7px;
                border-radius: 5px;
                background-color: transparent;
                color: black;
                border: 1px solid;
                cursor: pointer;

                &:hover {
                    border: 1px solid black;
                    background-color: brown;
                    color: white;
                }

            }

        }

        .errors {
            width: max-content;
            height: max-content;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            padding: 5px;
            padding-left: 10px;
            background-color: red;
            color: white;
            border-radius: 10px;
        }
    }
}

@media screen and (max-width:600px){
    // Ecrans dont la taille maximum est de 600px (Smartphone)
    .body{

        h1{
            font-size: 1em;
        }
        
        .form{
            margin-right: 15px;
            padding-right: 10px;
        }
    }
 } 
