fieldset#form_grid {
    padding-bottom: 1rem;
    
    .flex{
        @include flex($justify: center);
        flex-direction: column;
        
        label, div {
            margin-bottom: 0.5rem;
            
            
        }
        label::after {
            content: " *";
            color: red;
        }
        
    }
}

@include respondTo(desktop) {
    fieldset#form_grid {

        @include grid(repeat(1fr, 2), repeat(1fr, 4));
    
        #div_firstname {
            grid-row: 1/4;
        }
        #div_lastname{
            grid-row: 2/4;
        }
        #div_phonenumber {
            grid-row: 2/4;
        }
        #div_txtarea {
            grid-row: 3/4;
        }
        #form_btn {
            grid-row: 4/4;
            grid-column: 2/4;
        }
    }
}
