#contact_form {
    @include flex($justify: center);
    flex-direction: column;
    align-items: center;
    
    h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;

        @include respondTo(sm) {
            font-size: 2rem;
        }
        
        @include respondTo(md) {
            font-size: 2.5rem;
        }
    }

    form {
        margin-top: 1rem;
        @include respondTo(sm) {
            width: 768px;
        }

        @include respondTo(md) {
            width: 1200px;
        }
        fieldset#form_grid {
            
            @include respondTo(sm) {
        
                @include grid(repeat(1fr, 2), repeat(1fr, 3));
            
                #div_firstname {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                #div_lastname{
                    grid-column: 2/2;
                    grid-row: 1/2;
                }
                #div_phonenumber {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                #div_txtarea {
                    grid-column: 2/2;
                    grid-row: 2/3;
                }
                #form_btn {
                    grid-column: 1/3;
                    grid-row: 3/3;
                }
            }
        
            .labelinput_flex_container{
                @include flex($justify: center);
                flex-direction: column;

                @include respondTo(sm) {
                    padding: 0 2rem 0 2rem;
                }
                
                @include respondTo(md) {
                    padding: 0 4rem 0 4rem;
                }

                label {
                    margin-bottom: 0.5rem;

                    @include respondTo(sm) {
                        font-size: 1.5rem;
                    }
                    
                    @include respondTo(md) {
                        font-size: 1.5rem;
                    }
                }

                label::after {
                    content: " *";
                    color: red;
                }

                input {
                    padding: 0.25rem;

                    margin-bottom: 0.5rem;
                    border-radius: 0.5rem;
                    
                    @include respondTo(sm) {
                        width: 100%;
                        font-size: 1rem;
                    }
                    
                    @include respondTo(md) {
                        font-size: 1.25rem;
                    }
                }

                #textarea {
                    border-radius: 0.5rem;
                    margin: 0;
                    padding: 0.25rem;
                    width: 100%;
                    height: 4rem;
                }
            }

            #form_btn {
                margin: 1rem 0 1rem 0;
                
                #form_send {
                    margin-top: 1rem;

                    @include respondTo(sm) {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}
