#home {
    color: #2a3847;
    @include flex($justify: center);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: #333 solid 2px;

    @include respondTo(md) {
        padding: 0 8rem 0 8rem;
    }
    
    .relative_element_homesection {
        position: relative;
    }

    div#normalsize_logo_container {
        
        img#normalsize_logo {
            height: 8rem;
            width: 8rem;
            margin-top: 2rem;
            margin-bottom: 2rem;

            @include respondTo(sm) {
                    height: 14rem;
                    width: 14rem;
            }
            @include respondTo(md) {
                    height: 18rem;
                    width: 18rem;
            }
        }
    }

    h1 {
        font-size: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 2rem;

        @include respondTo(sm) {
            font-size: 3.5rem;
        }

        @include respondTo(md) {
            font-size: 4rem;
        }
    }

    h2{
        font-size: 2rem;
        padding-bottom: 2rem;

        @include respondTo(sm) {
            font-size: 2.5rem;
        }
    
        @include respondTo(md) {
            font-size: 3rem;
        }
    }

    p#bio {
        font-size: 1.25rem;
        padding: 0 2rem 2rem 2rem;

        @include respondTo(sm) {
            padding: 0 8rem 2rem 8rem;
            font-size: 1.75rem;
        }

        @include respondTo(md) {
            padding: 0 18rem 2rem 18rem;
            font-size: 2.25rem;
        }
    }

    p#adresse {
        font-size: 1.25rem;
        padding-bottom: 1rem;

        @include respondTo(sm) {
            font-size: 1.75rem;
            // padding: 0 8rem 0 8rem;
        }

        @include respondTo(md) {
            font-size: 2.25rem;
            // padding: 0 18rem 0 18rem;
        }
    }

    #cta {
        background-color: #304052;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 2rem;

        @include respondTo(sm) {
            font-size: 1.5rem;
        }

        @include respondTo(sm) {
            font-size: 1.5rem;
        }

        a {
            color: #F5BB65;
            text-decoration: none;
        }
    }
}

#home::before {
    background-image: url(/assets/img/c_panier.jpg);
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    opacity: 0.4;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}