footer {
    background-color: #304052;
    font-family: none;

    @include respondTo(sm) {
        background-color: #333;
    }
    
    span {
        margin: 1rem;
        
        @include respondTo(sm) {
            margin: 0;
        }
        
        a {
            color: #F5BB65;
            text-decoration: none;
            
            @include respondTo(md) {
                :hover {
                    color: white;
                }
            }
            
            p#legalmention {
                margin-left: 1.5rem;
                margin-right: 1.5rem;
                margin-bottom: 2.5rem;
                padding-top: 0.5rem;
                padding-bottom: 2rem;
                text-align: center;
                
                @include respondTo(sm) {
                    margin-bottom: 0;
                    font-size: 1.5rem;
                }

            }
        }
    }
}
