#menu {
    @include flex($justify: center);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #293747;
    
    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        
        @include respondTo(sm) {
            font-size: 2.5rem;
        }
        
        @include respondTo(md) {
            font-size: 3rem;
        }
    }

    #dishe_container {
        
        @include respondTo(sm) {
            @include grid(1fr 1fr, 1fr 1fr);
            gap: 0.5rem;
            
            @include respondTo(md) {
                gap: 1rem;
            }
        }
        
        #category1 {
            position: relative;
        }

        #category1::before {
            background-image: url(/assets/img/cc_panier.jpg);
            content: "";
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            border-radius: 0.5rem;
            opacity: 0.2;
            top: 0px;
            right: 0px;
            left: 0px;
            bottom: 0px;
        }
        
        #category2 {
            position: relative;
        }

        #category2::before {
            background-image: url(/assets/img/p_cuisine.jpg);
            content: "";
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            border-radius: 0.5rem;
            opacity: 0.2;
            top: 0px;
            right: 0px;
            left: 0px;
            bottom: 0px;
        }

        .dishe_category {
            margin-bottom: 1rem;
            border: solid #333 2px;
            -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5); 
            box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
            box-shadow: 1rem;
            padding: 1rem 2rem 0.5rem 2rem;
            border-radius: 0.5rem;
            
            .dishes {
                padding: 1rem;
                position: relative;
            }
    
            p.align-start{
                color: #304052;
                text-align: start;
                padding-top: 0.5rem;
                font-size: 1.25rem;
                
                @include respondTo(sm) {
                    margin-right: 12rem;
                    font-size: 1.5rem;
                }
    
                @include respondTo(md) {
                    padding-left: 6rem;
                    font-size: 1.75rem;
                }
            }
    
            h3 {
                color: #f7a833;
                margin-bottom: 1rem;
                text-decoration: underline;
                font-size: 1.5rem;
        
                @include respondTo(sm) {
                    font-size: 1.75rem;
                }
                
                @include respondTo(md) {
                    font-size: 2rem;
                }
            }
        }
    }
}