html {
    scroll-behavior: smooth;
    
    body {
        // font-family: Garamond, serif;
        font-family: 'Dancing Script', cursive;
        font-size: 16px;
        
        .default {
            text-align: center;
            z-index: 1;

            section.section {
                height: 100%;

                h2::before {
                    content: url("./../img/double_line.png");
                    margin: 0.25rem;
                }
                h2::after {
                    content: url("./../img/double_line.png");
                    margin: 0.25rem;
                }
            }
        }
    }
}